# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform executable
terraform.exe

# Terraform variable files (podem conter secrets)
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log